Repository SWPP-2025SPRING/team-project-for-2025-spring-swpp-team-05, pull requests merged in 2025-06, with the labels that each got.

#53 Assets: player change with Bear & Camera Moving Change
  Assets/Characters/Player/Player_Animation_Controller.controller
  Assets/Characters/Player/player_school_cloth.fbx.meta
  Assets/Characters/Player/player_with_attacked_animation.fbx.meta
  Assets/Prefabs/Player/player_school_cloth.prefab
  Assets/Prefabs/Player/player_school_cloth.prefab.meta
  Assets/Prefabs/Player/player_with_attacked_animation.prefab
  Assets/Prefabs/Player/player_with_attacked_animation.prefab.meta
  Assets/Scenes/MainScene.unity
  Assets/Scripts/FollowPlayer.cs
  Assets/Temp/_Source_Files/FBX/Animations.fbx.meta
  Assets/Temp/_Source_Files/FBX/Animations_Static.fbx.meta
  Design/Player/Running.fbx
Labels: ✨ Feature, 📗 Assets

#67 Feature: Python 몬스터 구현
  Assets/Characters/Monsters/Python/python.meta
  Assets/Characters/Monsters/Python/python/source.meta
  Assets/Characters/Monsters/Python/python/source/python.fbx
  Assets/Characters/Monsters/Python/python/source/python.fbx.meta
  Assets/Characters/Monsters/Python/python/textures.meta
  Assets/Characters/Monsters/Python/python/textures/python_Python_BaseColor.png
  Assets/Characters/Monsters/Python/python/textures/python_Python_BaseColor.png.meta
  Assets/Characters/Monsters/Python/python/textures/python_Python_Metallic.png
  Assets/Characters/Monsters/Python/python/textures/python_Python_Metallic.png.meta
  Assets/Characters/Monsters/Python/python/textures/python_Python_Normal.png
  Assets/Characters/Monsters/Python/python/textures/python_Python_Normal.png.meta
  Assets/Characters/Monsters/Python/python/textures/python_Python_Roughness.png
  Assets/Characters/Monsters/Python/python/textures/python_Python_Roughness.png.meta
  Assets/PlayModeTests.meta
  Assets/PlayModeTests/PlayModeTests.asmdef
  Assets/PlayModeTests/PlayModeTests.asmdef.meta
  Assets/PlayModeTests/PythonMonsterDebuffTests.cs
  Assets/PlayModeTests/PythonMonsterDebuffTests.cs.meta
  Assets/Prefabs/Monster/python.prefab
  Assets/Prefabs/Monster/python.prefab.meta
  Assets/Scenes/AssetTest.unity
  Assets/Scenes/MainScene.unity
  Assets/Scripts/GameMain.asmdef
  Assets/Scripts/GameMain.asmdef.meta
  Assets/Scripts/Monster/Python.meta
  Assets/Scripts/Monster/Python/DebuffHandler.cs
  Assets/Scripts/Monster/Python/DebuffHandler.cs.meta
  Assets/Scripts/Monster/Python/Debuffs.meta
  Assets/Scripts/Monster/Python/Debuffs/IDebuff.cs
  Assets/Scripts/Monster/Python/Debuffs/IDebuff.cs.meta
  Assets/Scripts/Monster/Python/Debuffs/ReverseControl.cs
  Assets/Scripts/Monster/Python/Debuffs/ReverseControl.cs.meta
  Assets/Scripts/Monster/Python/Debuffs/SpeedDebuff.cs
  Assets/Scripts/Monster/Python/Debuffs/SpeedDebuff.cs.meta
  Assets/Scripts/Monster/Python/PythonMonster.cs
  Assets/Scripts/Monster/Python/PythonMonster.cs.meta
  Assets/Scripts/PlayerControl.cs
  Assets/Scripts/PlayerStatus.cs
Labels: 📗 Assets

#90 Feature: 파이썬 몬스터 추가 구현
  Assets/PlayModeTests/PlayModeTests.asmdef
  Assets/PlayModeTests/PlayModeTests.asmdef.meta
  Assets/PlayModeTests/PythonMonsterDebuffTests.cs
  Assets/Prefabs/Player/player_with_attacked_animation.prefab
  Assets/Scripts/Camera/FollowPlayer.cs
  Assets/Scripts/Final Stage/Barrels.cs
  Assets/Scripts/Final Stage/Barrels.cs.meta
  Assets/Scripts/Monster/Python/Debuffs/CamerFlipDebuff.cs
  Assets/Scripts/Monster/Python/Debuffs/CamerFlipDebuff.cs.meta
  Assets/Scripts/Monster/Python/Debuffs/CameraTiltDebuff.cs
  Assets/Scripts/Monster/Python/Debuffs/CameraTiltDebuff.cs.meta
  Assets/Scripts/Monster/Python/PythonMonster.cs
Labels: 🐛 Bug, ✨ Feature

#102 Feature: UI 개선하기
  Assets/Prefabs/Canvas.prefab
  Assets/Scripts/GameManager.cs
  Assets/Scripts/UI/UIManager.cs
Labels: ✨ Feature, 😶‍🌫️ UI

#143 Bug: 할당 안된 GameObject 할당 완료
  Assets/Characters/goldKey.fbx
  Assets/Characters/goldKey.fbx.meta
  Assets/Prefabs/RoomSection.prefab
  Assets/Prefabs/Rooms/Asset Prefab/Room_Professor.prefab
  Assets/Prefabs/Rooms/Asset Prefab/Room_Report.prefab
  Assets/Prefabs/Rooms/Faculty Room.prefab
  Assets/Prefabs/Rooms/StoneTile.prefab
  Assets/Scenes/MainScene.unity
  Design/Key/goldKey.blend
  Design/Key/goldKey.blend1
Labels: ⚙️ BuildTest

#146 Bug : 씬 로드시 렌더링 문제 해결
  .github/workflows/webGL-Ci.yml
  Assets/Prefabs/RoomSection.prefab
  Assets/Prefabs/Rooms/Programming Room 2.prefab
  Assets/Prefabs/Rooms/StoneTile.prefab
  Assets/Scenes/MainScene.meta
  Assets/Scenes/MainScene.unity
  Assets/Scenes/MainScene/LightingData.asset
  Assets/Scenes/MainScene/LightingData.asset.meta
  Assets/Scenes/MainScene/Lightmap-0_comp_dir.png
  Assets/Scenes/MainScene/Lightmap-0_comp_dir.png.meta
  Assets/Scenes/MainScene/Lightmap-0_comp_light.exr
  Assets/Scenes/MainScene/Lightmap-0_comp_light.exr.meta
  Assets/Scenes/MainScene/Lightmap-0_comp_shadowmask.png
  Assets/Scenes/MainScene/Lightmap-0_comp_shadowmask.png.meta
  Assets/Scenes/MainScene/ReflectionProbe-0.exr
  Assets/Scenes/MainScene/ReflectionProbe-0.exr.meta
  Assets/Scenes/Opening.meta
  Assets/Scenes/Opening.unity
  Assets/Scenes/Opening/LightingData.asset
  Assets/Scenes/Opening/LightingData.asset.meta
  Assets/Scenes/Opening/ReflectionProbe-0.exr
  Assets/Scenes/Opening/ReflectionProbe-0.exr.meta
  Assets/Scenes/TutorialScene.meta
  Assets/Scenes/TutorialScene.unity
  Assets/Scenes/TutorialScene/LightingData.asset
  Assets/Scenes/TutorialScene/LightingData.asset.meta
  Assets/Scenes/TutorialScene/ReflectionProbe-0.exr
  Assets/Scenes/TutorialScene/ReflectionProbe-0.exr.meta
  Assets/Scripts/CheatCode/TestSceneLoader.cs
  Assets/Scripts/Map/Room/EnteranceForward.cs
  Assets/Scripts/Map/Room/RoomSpawnManager.cs
  Assets/Scripts/Player/PlayerStatus.cs
  Assets/Scripts/Start&End/GoalTrigger.cs
  Assets/Scripts/Start&End/OpeningUI.cs
  ProjectSettings/EditorBuildSettings.asset
  ProjectSettings/ProjectSettings.asset
Labels: 🐛 Bug, ⚙️ BuildTest

#148 bug: mosquito bug 해결
  Assets/Scenes/MainScene.unity
Labels: 🐛 Bug, ⚙️ BuildTest

#154 feature: main map 기본방해물 추가
  Assets/Scenes/MainScene.unity
Labels: ✨ Feature, ⚙️ BuildTest

#155 Bug: 최종 지형 수정
  Assets/New Terrain.asset
  Assets/Scenes/MainScene.unity
Labels: 🐛 Bug, ⚙️ BuildTest

#158 길에 화살표 표시
  Assets/Prefabs/Road/GoDown.prefab
  Assets/Prefabs/Road/GoLeft.prefab
  Assets/Prefabs/Road/GoRight.prefab
  Assets/Scenes/MainScene.unity
Labels: 🐛 Bug, 📗 Assets
